<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bulma/bulma.css">
    <title>Document</title>
</head>
<body>
    <section class="hero has-text-centered has-background-primary-dark is-italic">
        <div class="hero-body">
          <p class="title">ADD EMPLOYEE LIST</p>
          <p class="subtitle">Oca, May Liecel Joy B.</p>
        </div>
      </section>

      
        <div class="columns mt-3 is-centered">
        <div class="column is-3">
            <aside class="menu has-background-success">
                <ul class="menu-list">
                    <li><a>EMPLOYEE LIST</a></li>
                    <li><a>PERSONAL INFO</a></li>
                    <li><a>EDUCATIONAL INFO</a></li>
                    <li><a>WORK EXP</a></li>
                    <li><a>TRAININGS</a></li>
                    <li><a>LOG OUT</a></li>
                </ul>
            </aside>
        </div>
    
        
      <div class="static">
        <h1>ADD EMPLOYEE</h1>
        
        <label id="userlabel" class="labelClass">EMPLOYEE ID:</label>
        <input type="blank">

        <label id="passlabel" class="labelClass">LAST NAME</label>
        <input type="text">

        <label id="passlabel" class="labelClass">FIRST NAME</label>
        <input type="text">

        <button type="button" class="labelClass">MIDLLE NAME</button>
        <input type="text">

        <button type="button" class="labelClass">ADDRESS</button>
        <input type="text">

        <button type="button" class="labelClass">CIVIL STATUS</button>
        <input type="select">
        <select name=>CIVIL STATUS:
          <option value=CIVIL_STATUS:
          
        
        </select>


    </div>
      </div>
</body>
</html>