<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bulma/bulma.css">
    <title>Document</title>
</head>
<body>
    <section class="hero has-text-centered has-background-primary-dark is-italic">
        <div class="hero-body">
          <p class="title">EMPLOYEE INFORMATION SYSTEM</p>
          <p class="subtitle">Oca, May Liecel Joy B.</p>
        </div>
      </section>

      
        <div class="columns mt-3 is-centered">
        <div class="column is-3">
            <aside class="menu has-background-success">
                <ul class="menu-list">
                    <li><a>EMPLOYEE LIST</a></li>
                    <li><a>PERSONAL INFO</a></li>
                    <li><a>EDUCATIONAL INFO</a></li>
                    <li><a>WORK EXP</a></li>
                    <li><a>TRAININGS</a></li>
                    <li><a>LOG OUT</a></li>
                </ul>
            </aside>
        </div>
    
        
      <div class="column is-7">
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
                <tr>
                    <th colspan="5" class="has-text-centered">EMPLOYEE LIST</th>
                </tr>
                    <tr class="has-text-danger">
                        <th class="has-text-info">EMPLOYEE 1</th>
                        <td>Gabaldon</td>
                        <td>Jonathan</td>
                        <td>Male</td>
                        <td>Manager</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="has-text-danger">
                        <th class="has-text-info">EMPLOYEE 2</th>
                        <td>Domingo</td>
                        <td>Hazelle</td>
                        <td>Female</td>
                        <td>Asst.Manager</td>
                    </tr>
                    <tr class="has-text-danger">
                        <th class="has-text-info">EMPLOYEE 3</th>
                        <td>Gavanez</td>
                        <td>Cristy</td>
                        <td>Female</td>
                        <td></td>
                    </tr>
                    <tr class="has-text-danger">
                        <th class="has-text-info">EMPLOYEE 4</th>
                        <td>LAST NAME</td>
                        <td>FIRST NAME</td>
                        <td>GENDER</td>
                        <td>POSITON</td>
                    </tr>
                    <tr class="has-text-danger">
                        <th class="has-text-info">EMPLOYEE 5</th>
                        <td>LAST NAME</td>
                        <td>FIRST NAME</td>
                        <td>GENDER</td>
                        <td>POSITON</td>
                    </tr>
                    <tr class="has-text-danger">
                        <th class="has-text-info">EMPLOYEE 6</th>
                        <td>LAST NAME</td>
                        <td>FIRST NAME</td>
                        <td>GENDER</td>
                        <td>POSITON</td>
                    </tr>
                    <tr class="has-text-danger">
                        <th class="has-text-info">EMPLOYEE 7</th>
                        <td>LAST NAME</td>
                        <td>FIRST NAME</td>
                        <td>GENDER</td>
                        <td>POSITON</td>
                    </tr>
                    <tr class="has-text-danger">
                        <th class="has-text-info">EMPLOYEE 8</th>
                        <td>LAST NAME</td>
                        <td>FIRST NAME</td>
                        <td>GENDER</td>
                        <td>POSITON</td>
                    </tr>
                    <tr class="has-text-danger">
                        <th class="has-text-info">EMPLOYEE 9</th>
                        <td>LAST NAME</td>
                        <td>FIRST NAME</td>
                        <td>GENDER</td>
                        <td>POSITON</td>
                    </tr>
                    <tr class="has-text-danger">
                        <th class="has-text-info">EMPLOYEE 10</th>
                        <td>LAST NAME</td>
                        <td>FIRST NAME</td>
                        <td>GENDER</td>
                        <td>POSITON</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
      </div>
</body>
</html>